<script>
    $(document).ready(function(){

        $('#save').bind('click', function(){
            $('#saved').prepend("<li>" + new Date() + "<dl>" + $('#current').html() + "</dl></li>");
        });

        setInterval(function(){$.get('/memory', function(res){
                console.log();
                $('#memory').html(res.memory);
                $('#peak').html(res.peak);
                $('#trough').html(res.trough);
        })}, 500);
    });
</script>


<dl id="current">
    <dt>Memory</dt>
    <dd id="memory"></dd>
    <dt>Peak</dt>
    <dd id="peak"></dd>
    <dt>Trough</dt>
    <dd id="trough"></dd>
</dl>

<button id="save">Save</button>


<ul id="saved">
</ul>
